certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
distlib==0.3.4
env==0.1.0
filelock==3.4.2
Flask==2.0.2
heroku==0.1.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
platformdirs==2.4.1
python-dateutil==1.5
requests==2.27.1
six==1.16.0
touch==2020.12.3
urllib3==1.26.8
values==2020.12.3
virtualenv==20.13.1
Werkzeug==2.0.2
