.text-block {
  display: block;
  overflow: visible;
  margin-top: 10px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Exo, sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

.container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.form-block {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.form {
  display: block;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.background-video {
  height: 90vh;
  margin-top: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.container-2 {
  margin-top: 10px;
}

.heading {
  font-family: Inconsolata, monospace;
  color: #fff;
  text-align: left;
}

.paragraph {
  margin-top: 20px;
  color: #bfbfbf;
}

.link {
  font-family: Exo, sans-serif;
  font-size: 32px;
  text-decoration: none;
}

.field-label {
  color: #bfbfbf;
}

.field-label-2 {
  color: #bfbfbf;
}

@media screen and (max-width: 767px) {
  .text-block {
    padding-left: 10px;
  }

  .form {
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 10px;
  }

  .heading {
    margin-left: 10px;
    padding-left: 10px;
  }

  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    padding-left: 10px;
  }

  .form {
    margin-left: 10px;
    padding-right: 20px;
  }

  .heading {
    margin-left: 0px;
    padding-left: 20px;
  }

  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
}